body {
    background: $background;

    #app {
        background: #fff;

        .user-bar {
            padding: 15px;
            border-bottom: 1px solid color('blue-grey', 'lighten-5');
        }
    }

    .pad {
        padding: 40px;
    }

    .card.alert {
        color: #fff;

        &.info {
            @extend .light-blue;
        }
        &.success {
            @extend .teal;
        }
        &.warning {
            @extend .orange.darken-3;
        }
        &.error {
            @extend .deep-orange;
        }

        .fa-times {
            float: right;
            font-size: 22px;
            color: #fff;
            opacity: 0.8;

            &:hover {
                cursor: pointer;
                opacity: 1.0;
            }
        }
    }

    .no-shadow {
        box-shadow: none;
    }
}
