$background: #f1eeeb;

// Materialize Fonts
$roboto-font-path: "../../font/roboto/";
$icons-font-path: "../../font/material-design-icons/";

// FontAwesome Fonts
$fa-font-path: "../../font/font-awesome";
