{% load elixir %}
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{% elixir 'css/drf_vue.css' %}"  media="screen,projection">
</head>
<body>
    {% verbatim %}
    <div id="app" class="container">
        <div class="row">
            <div class="col s12">
                <nav class="blue-grey lighten-4 no-shadow">
                    <div class="nav-wrapper">
                        <ul class="hide-on-med-and-down">
                            <li v-link-active><a v-link="{ name: 'home', exact: true }">Home</a></li>
                            <li v-link-active><a v-link="{ path: '/foo' }">Foo</a></li>
                            <li v-link-active><a v-link="{ path: '/bar' }">Bar</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="user-bar blue-grey-text text-lighten-3 right-align">
                    Hello, <strong>{{ user.username }}</strong>!<br>
                    <a v-link="{ name: 'account.login' }" v-if="!user.authenticated">Log in</a>
                    <a v-link="{ name: 'account.login' }" @click="logout()" v-if="user.authenticated">Log out</a>
                </div>

                <div class="pad">
                    <alert v-for="alert in alerts" :type="alert.type" :persist="false">{{ alert.message }}</alert>
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

    <script type="text/javascript" src="{% elixir 'js/drf_vue.js' %}"></script>
</body>
</html>
